<main class="main-col">

  <div class="tool-intro card">
    <h1 class="tool-title">{{guides.ca.index.canadianElectricalGuidesTitle}}</h1>
    <p class="tool-sub">{{guides.ca.index.writtenToTheCanadianElectricalCodeWhere}} <a class="inline-link" href="/guides/" data-edition-country="us">{{guides.ca.index.uSGuides}}</a></p>
  </div>

  <nav class="card guide-list" aria-label="{{attr:guides.ca.index.canadianGuidesAriaLabel}}">
    <a class="guide-item" href="/ca/guides/sub-panel-wire-size/">
      <span class="guide-item-title">{{guides.ca.index.wireSizeForASubPanelIn}}</span>
      <span class="guide-item-sub">{{guides.ca.index.n50N60N100AFeederTablesIn}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/20-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.twentyAmp.whatSizeWireForN20AmpCircuitTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.twentyAmp.theCanadianAnswerIsN12AWGCopper}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/30-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.thirtyAmp.whatSizeWireForN30AmpBreakerTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.thirtyAmp.theCanadianStartingAnswerIsN10AWG}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/40-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.fortyAmp.whatSizeWireForN40AmpBreakerTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.fortyAmp.theCanadianAnswerIsN8AWGCopper}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/50-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.index.whatSizeWireForN50AmpsIn}}</span>
      <span class="guide-item-sub">{{guides.ca.index.theNMD90AnswerAndWhyTheAmerican}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/60-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.sixtyAmp.whatSizeWireForN60AmpBreakerTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.sixtyAmp.theCanadianAnswerStartsAtN4AWG}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/100-amp-service-wire-size/">
      <span class="guide-item-title">{{guides.ca.hundredAmpService.whatSizeWireForN100AmpServiceInCanadaTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.hundredAmpService.whyThisPageDoesNotGuess}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/200-amp-service-wire-size/">
      <span class="guide-item-title">{{guides.ca.twoHundredAmpService.whatSizeWireForN200AmpServiceInCanadaTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.twoHundredAmpService.whyThisPageDoesNotGuess}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/wire-ampacity-chart/">
      <span class="guide-item-title">{{guides.ca.index.cECAmpacityChartTableN2TableN4}}</span>
      <span class="guide-item-sub">{{guides.ca.index.harmonizedWithTheUSValuesVerifiedPlus}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/how-far-12-gauge-wire/">
      <span class="guide-item-title">{{guides.ca.index.howFarCanYouRunN12Gauge}}</span>
      <span class="guide-item-sub">{{guides.ca.index.metresAndFeetPlusTheCECS}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/voltage-drop-formula/">
      <span class="guide-item-title">{{guides.ca.index.voltageDropInCanadaRuleN8N102}}</span>
      <span class="guide-item-sub">{{guides.ca.index.theFormulaWorkedExamplesTableN68And}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/nec-vs-cec/">
      <span class="guide-item-title">{{guides.ca.index.necVsCecTitle}}</span>
      <span class="guide-item-sub">{{guides.ca.index.necVsCecDescription}}</span>
    </a>
  </nav>

  <section class="card explainer">
    <h2>{{guides.ca.index.howTheseGuidesAreMadeHeading}}</h2>
    <p>{{guides.ca.index.everyNumberComesFromOurVerifiedData}}</p>
  </section>

</main>
