<main class="main-col">

  <div class="tool-intro card">
    <h1 class="tool-title">{{guides.ca.index.canadianElectricalGuidesTitle}}</h1>
    <p class="tool-sub">{{guides.ca.index.writtenToTheCanadianElectricalCodeWhere}} <a class="inline-link" href="/guides/" data-edition-country="us">{{guides.ca.index.uSGuides}}</a></p>
  </div>

  <nav class="card guide-list" aria-label="{{attr:guides.ca.index.canadianGuidesAriaLabel}}">
    <a class="guide-item" href="/ca/guides/sub-panel-wire-size/">
      <span class="guide-item-title">{{guides.ca.index.wireSizeForASubPanelIn}}</span>
      <span class="guide-item-sub">{{guides.ca.index.n50N60N100AFeederTablesIn}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/50-amp-wire-size/">
      <span class="guide-item-title">{{guides.ca.index.whatSizeWireForN50AmpsIn}}</span>
      <span class="guide-item-sub">{{guides.ca.index.theNMD90AnswerAndWhyTheAmerican}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/wire-ampacity-chart/">
      <span class="guide-item-title">{{guides.ca.index.cECAmpacityChartTableN2TableN4}}</span>
      <span class="guide-item-sub">{{guides.ca.index.harmonizedWithTheUSValuesVerifiedPlus}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/how-far-12-gauge-wire/">
      <span class="guide-item-title">{{guides.ca.index.howFarCanYouRunN12Gauge}}</span>
      <span class="guide-item-sub">{{guides.ca.index.metresAndFeetPlusTheCECS}}</span>
    </a>
    <a class="guide-item" href="/ca/guides/voltage-drop-formula/">
      <span class="guide-item-title">{{guides.ca.index.voltageDropInCanadaRuleN8N102}}</span>
      <span class="guide-item-sub">{{guides.ca.index.theFormulaWorkedExamplesTableN68And}}</span>
    </a>
  </nav>

  <section class="card explainer">
    <h2>{{guides.ca.index.howTheseGuidesAreMadeHeading}}</h2>
    <p>{{guides.ca.index.everyNumberComesFromOurVerifiedData}}</p>
  </section>

</main>
